<ion-view title="Login" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="login-form2" class="list ">
            <ion-list id="login-list2" class=" ">
                <label class="item item-input " id="login-input4">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="login-input5">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button id="login-button3" class=" button button-stable  button-block ">Log in</button>
            <a href="#" onclick="window.open('/signup', '_system', 'location=yes'); return false;" id="login-button4" class=" button button-positive  button-block button-clear ">Or create an account</a>
            <ion-toggle toggle-class="toggle-positive" id="login-toggle1" class=" ">Toggle</ion-toggle>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
        </form>
        <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="login-video1" class=" ">
            <iframe src="https://www.youtube.com/embed/lTLTs2ZA2JQ?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
        </div>
    </ion-content>
</ion-view>